@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

* {
  font-family: Inter;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--body);
}
body.lock {
  height: 100vh;
}

/* ROOT */
:root {
  /* backround */
  --body: #e1d4c9;
  --container: #665f55;
  --backdrop: rgba(64, 63, 61, 0.8);

  /* Border */
  --Light-border: #c1b6ad;
  --Dark-border: #665f55;
  /* size */
  /* --back-size: 1920px; */
  --full-size: 1440px;
  /* Text */
  --text-dark: #403f3d;
  --text-Light: #e1d4c9;
  --text-Accent: #b0907a;
}

/* Header */
.header {
  display: flex;
  margin: auto;
  max-width: var(--full-size);
}
.header-main {
  justify-content: space-between;
  display: flex;
  margin: 1.25rem 2.5rem 1.25rem 2.5rem;
  width: 100%;
}
.nav-container {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: center;
  max-width: 74.25rem;
  margin: auto;
  list-style-type: none;
  display: flex;
  gap: 2.5rem;
}
.nav-button {
  position: relative;
  transition: 0.5s;
  margin: auto;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  color: var(--text-dark);
  text-decoration: none;
}
.nav-button:before {
  opacity: 1;
  position: absolute;
  bottom: -4px;
  content: " ";
  border-bottom: 2px solid var(--text-dark);
  left: 50%;
  width: 0%;
  transition: all 0.8s;
}

.nav-button:hover:before {
  opacity: 1;
  width: 100%;
  left: 0%;
}

.menu-button {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  color: var(--text-dark, #403f3d);
}
.nav-button-menu {
  cursor: default;
  position: relative;
  transition: 0.5s;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  color: var(--text-dark);
  text-decoration: none;
}
.nav-button-menu:before {
  opacity: 1;
  position: absolute;
  bottom: 13px;
  content: " ";
  border-bottom: 2px solid var(--text-dark);
  left: 0%;
  width: 100%;
  transition: all 0.8s;
}

.nav-button-menu:hover:before {
  opacity: 1;
  width: 100%;
  left: 0%;
}

/* Burger menu */
.menu-burger {
  cursor: pointer;
  margin: 5px 0px 0px 40px;
  display: none;
  width: 44px;
  height: 44px;
  position: relative;
  z-index: 100;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--text-dark);
}

.menu-burger span {
  width: 16px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--text-dark);
  transition: all 0.5s;
}

.menu-burger span:nth-of-type(1) {
  top: calc(65% - 10px);
}
.menu-burger span:nth-of-type(2) {
  top: calc(35% + 10px);
}

/* Меняем гамбургер иконку, когда меню открыто */

.menu-burger.active span:nth-of-type(1) {
  top: 60%;
  transform: translate(-50%, -6px) rotate(45deg);
}
.menu-burger.active span:nth-of-type(2) {
  top: 60%;
  transform: translate(-50%, -6px) rotate(-45deg);
}

/* Меню, которое будет появляться */
.slide-menu-burger {
  z-index: 100;
  overflow: auto;
  display: flex;
  position: fixed;
  top: 90px;
  right: 0;
  width: 100vw;
  max-height: 100%;
  padding: 3.75rem 2.5rem 3.75rem 2.5rem;
  background: var(--body);
  transform: translateX(130%);
  transition: transform 0.5s;
}

.slide-menu-burger.active {
  transform: translateX(0);
}

.slide-menu-burger li {
  list-style-type: none;
}
.nav-burger {
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 3.75rem;
  height: 100vh;
  width: 100%;
  padding: 0 2.5rem 3.75rem 2.5rem;
}
.top-padding-10-burger {
  padding-top: 10px;
}
.burger-contact {
  margin-bottom: 2.5rem;
}
.navigation-burger {
  height: 100%;
  display: block;
  width: 100%;
}

.nav-button-burger {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-dark);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 40px */
  transition: 0.5s;
}
.cup-burger {
  margin-left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

/* Main */
main {
  margin: auto;
  max-width: var(--full-size);
}

.footer {
  max-width: var(--full-size);
  margin: auto;
  margin-bottom: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.main-footer {
  justify-content: space-between;
  display: flex;
  margin: auto;
  width: 100%;
  background-color: var(--container);
  border-radius: 2.5rem;
  padding: 6.25rem;
  width: 100%;
}
.icon-contact {
  max-width: 33.125rem;
}
.contact-title {
  color: var(--text-Light);
  margin: 0;
  text-align: left;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
  margin-bottom: 2.5rem;
}
.contact-button {
  gap: 0.75rem;
  display: flex;
}
.all-contact-button {
  border-radius: 6.25rem;
  border: 1px solid var(--Light-border);
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.twitter {
  position: relative;
  margin: auto 0 auto 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../coffee-house/icon/twitter.svg);
  background-color: var(--container);
}
.twitter:hover {
  background-color: var(--container);
}

.twitter::before {
  fill: green;
  border-radius: 6.25rem;
  background-color: var(--body);
  background-image: url(../coffee-house/icon/twitter-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.twitter:hover::before {
  opacity: 1;
}
.instagram {
  position: relative;
  margin: auto 0 auto 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../coffee-house/icon/instagram.svg);
  background-color: var(--container);
}
.instagram:hover {
  background-color: var(--container);
}

.instagram::before {
  fill: green;
  border-radius: 6.25rem;
  background-color: var(--body);
  background-image: url(../coffee-house/icon/instagram-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.instagram:hover::before {
  opacity: 1;
}
.facebook {
  position: relative;
  margin: auto 0 auto 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../coffee-house/icon/facebook.svg);
  background-color: var(--container);
}
.facebook:hover {
  background-color: var(--container);
}

.facebook::before {
  border-radius: 6.25rem;
  background-color: var(--body);
  background-image: url(../coffee-house/icon/facebook-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.facebook:hover::before {
  opacity: 1;
}

.contact-us {
  text-align: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  width: 33.125rem;
}
.contact-title2 {
  color: var(--text-Light);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  margin-bottom: 2.5rem;
  text-align: left;
}

.nav-contact {
  width: 16.375rem;
  display: grid;
  list-style-type: none;
  gap: 1rem;
}
.nav-contact-menu {
  margin-bottom: 0.25rem;
}
.nav-button-contact {
  position: relative;
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}
.time {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: var(--text-Light);
  position: relative;
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}
.adress,
.number {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: var(--text-Light);
  width: 70%;
}

.nav-button-contact:before {
  opacity: 0;
  position: absolute;
  bottom: -8px;
  content: " ";
  border-bottom: 2px solid var(--text-Light);
  left: 50%;
  width: 0%;
  transition: all 0.9s;
}

.nav-button-contact:hover:before {
  opacity: 1;
  width: 100%;
  left: 0%;
}

/* section1 */
.section1 {
  display: block;
  margin: 0 2.5rem 0 2.5rem;
  max-width: var(--full-size);
}
h1 {
  text-align: center;
  margin: auto;
  margin-bottom: 2.5rem;
  color: var(--text-dark);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
  max-width: 50rem;
}
.all-butt {
  display: block;
  margin: auto;
  width: 100%;
}

.all-button {
  cursor: pointer;
  margin: auto;
  margin-bottom: 2.5rem;
  gap: 1rem;
  display: flex;
  width: 22.563rem;
}
.button-menu {
  transition: 0.5s;
  color: var(--text-dark);
  position: relative;
  height: 2.875rem;
  border: 1px solid var(--Light-border);
  background-color: var(--body);
  border-radius: 6.25rem;
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.icon-button {
  transition: 0.5s;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: var(--Light-border);
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
}

.parag-button {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.upper-button1,
.upper-button2,
.upper-button3 {
  z-index: 5;
  position: absolute;
  height: 2.875rem;
  background-color: rgba(255, 0, 0, 0);
  border-radius: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 110%;
}
.icon-background {
  background-color: var(--body);
}
.button-background {
  color: var(--text-Light);
  background-color: var(--container);
}

/* section-slide */
.slide-section {
  position: relative;
  transition: 0.2s;
  margin: 0 2.5rem 6.25rem 2.5rem;
  max-width: var(--full-size);
  height: 65.75rem;
}
.hight-slide {
  height: 31.625rem;
}
.section-coffee {
  justify-content: space-around;
  margin: auto;
  position: absolute;
  opacity: 1;
  transition: 0.3s;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  gap: 2.5rem;
  width: 100%;
  min-height: 19.375rem;
  max-height: 66rem;
}
.section-tea {
  overflow: hidden;
  justify-content: space-around;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  flex-wrap: wrap;
  display: flex;
  gap: 2.5rem;
  width: 100%;
  min-height: 19.375rem;
  max-height: 66rem;
}
.section-dessert {
  overflow: hidden;
  justify-content: space-around;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  flex-wrap: wrap;
  display: flex;
  gap: 2.5rem;
  width: 100%;
  min-height: 19.375rem;
  max-height: 66rem;
}
.container {
  cursor: pointer;
  border-radius: 2.5rem;
  border: 1px solid var(--Light-border);
  height: 31.625rem;
  width: 19.375rem;
}
.container:hover > .img-container > .img-scale {
  transform: scale(100%);
}
.container:hover {
  background-size: 100%;
}
.img-container {
  border-radius: 2.5rem;
  overflow: hidden;
  height: 19.375rem;
  width: 19.275rem;
}
.img-scale {
  transition: 0.5s;
  transform: scale(110%);
  border-radius: 2.5rem;
  width: 100%;
}
.img-scale:hover {
  transform: scale(100%);
}
.info-container {
  width: 19.375rem;
  display: grid;
  height: 12rem;
  justify-content: space-between;
  padding: 1.25rem;
}
.title-container {
  width: 100%;
  display: block;
  color: var(--text-dark);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.paragr-container {
  width: 100%;
  display: block;
  color: var(--text-dark);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.class-title {
  flex-wrap: wrap;
  display: flex;
  gap: 0.75rem;
}
.price-slide {
  margin-top: auto;
  display: block;
  height: 1.875rem;
  width: 100%;
  display: block;
  color: var(--text-dark);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}

/* refresh */

.refresh {
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 6.25rem;
  border: 1px solid var(--Dark-border);
  border-radius: 100px;
  display: none;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
/* modal-window */
.modal-window {
  transition: 0.3s;
  opacity: 0;
  z-index: 125;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  width: 50rem;
  margin: auto;
  height: 31.5rem;
  display: flex;
  padding: 16px;
  border-radius: 2.5rem;
  background: var(--body);
}
.img-modal {
  border-radius: 2.5rem;
  overflow: hidden;
}
.modal-img {
  height: 65%;
  width: 100%;
  border-radius: 2.5rem;
}
.inf-modal {
  max-width: 28.625rem;
  padding-left: 1.25rem;
}
.modal-title {
  margin-bottom: 0.75rem;
  color: var(--text-dark);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.modal-txt {
  margin-bottom: 1.25rem;
  color: var(--text-dark);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.size {
  margin-bottom: 0.5rem;
  color: var(--text-dark);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.all-butt-modal {
  display: block;
  margin: auto;
  width: 100%;
}

.all-button-modal {
  cursor: pointer;
  margin-bottom: 1.25rem;
  gap: 0.5rem;
  display: flex;
}
.button-menu-modal {
  transition: 0.5s;
  color: var(--text-dark);
  position: relative;
  height: 2.875rem;
  border: 1px solid var(--Light-border);
  background-color: var(--body);
  border-radius: 6.25rem;
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.icon-button-modal {
  transition: 0.5s;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: var(--Light-border);
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
}

.parag-button-modal {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.upper-button1-modal,
.upper-button2-modal,
.upper-button3-modal {
  z-index: 5;
  position: absolute;
  height: 2.875rem;
  background-color: rgba(255, 0, 0, 0);
  border-radius: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 110%;
}
.icon-background {
  background-color: var(--body);
}
.button-background {
  color: var(--text-Light);
  background-color: var(--container);
}

/* Additives */
.all-butt-Additives {
  display: block;
  margin: auto;
  width: 100%;
}

.all-button-Additives {
  cursor: pointer;
  margin-bottom: 1.25rem;
  gap: 0.5rem;
  display: flex;
}
.button-menu-Additives {
  transition: 0.5s;
  color: var(--text-dark);
  position: relative;
  height: 2.875rem;
  border: 1px solid var(--Light-border);
  background-color: var(--body);
  border-radius: 6.25rem;
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.icon-button-Additives {
  transition: 0.5s;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: var(--Light-border);
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
}

.parag-button-Additives {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.upper-button1-Additives,
.upper-button2-Additives,
.upper-button3-Additives {
  z-index: 5;
  position: absolute;
  height: 2.875rem;
  background-color: rgba(255, 0, 0, 0);
  border-radius: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 110%;
}
.icon-background {
  background-color: var(--body);
}
.button-background {
  color: var(--text-Light);
  background-color: var(--container);
}

.total-price {
  margin-bottom: 1.25rem;
  justify-content: space-between;
  display: flex;
}
.total,
.price {
  color: var(--text-dark);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.price {
  text-align: right;
}
.discont {
  border-top: 1px solid var(--Light-border);
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
  margin-bottom: 1.25rem;
}
.empty-inf {
  margin-left: 0.5rem;
  color: var(--text-dark);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 14px */
}
.close {
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--body);
  width: 27.375rem;
  border-radius: 6.25rem;
  border: 1px solid var(--Dark-border);
  display: flex;
  padding: 10px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: var(--text-dark);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.close:hover {
  color: var(--text-Light);
  background-color: var(--container);
}

/* Visual blok */

.backgrey {
  opacity: 0;
  z-index: 120;
  transition: all 0.3s linear;
  left: 0;
  top: 0;
  background-color: #312f2fa6;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
}
.italic {
  color: var(--text-Accent);
  font-style: italic;
}
.visual {
  opacity: 1;
}
.visualzero {
  opacity: 0;
}
.hidden {
  display: none;
}
.overflow {
  overflow: visible;
}
.overflow-hide {
  overflow: hidden;
}

.icon-background {
  background-color: var(--body);
}
.button-background {
  color: var(--text-Light);
  background-color: var(--container);
}
.icon-background-stay {
  background-color: var(--body);
}
.button-background-stay {
  cursor: default;
  color: var(--text-Light);
  background-color: var(--container);
}

/* media */
@media (max-width: 1440px) {
  .section-coffee {
    overflow: visible;
  }
  .section-dessert {
    overflow: visible;
  }
  .slide-section {
    height: 97.375rem;
  }
}
@media (max-width: 1439px) {
  .icon-contact {
    margin-bottom: 6.25rem;
  }
  .main-footer {
    display: block;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .contact-title {
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }
  .footer {
    margin-bottom: 0;
    padding: 0 1rem 2.5rem 1rem;
  }
}
@media (max-width: 1090px) {
  .footer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .info-container {
    padding-top: 1.2rem;
  }
  .section-coffee,
  .section-dessert,
  .section-tea {
    gap: 1.6rem;
  }

  h1 {
    width: 99%;
  }
  .close {
    width: 19.125rem;
  }
  .empty-inf {
    margin-left: 5px;
  }
  .emty-img {
    height: 16px;
  }
  .discont {
    width: 103%;
  }
  .all-button-Additives {
    margin-bottom: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
  .all-button-modal {
    margin-bottom: 10px;
    flex-wrap: wrap;
    width: 100%;
  }
  .modal-txt {
    margin-bottom: 10px;
    width: 101%;
  }
  .inf-modal {
    max-width: 20.375rem;
  }
  .modal-window {
    height: 37.125rem;
    width: 43rem;
  }
  .slide-section {
    margin-bottom: 2rem;
  }
  .icon-contact {
    margin-bottom: 5rem;
  }
}
@media (pointer: coarse) {
  .nav-button:hover:before {
    width: 0%;
  }

  .nav-button-contact:hover:before {
    opacity: 0;
    width: 100%;
    left: 0%;
  }
  .nav-button-contact:hover:before {
    display: none !important;
  }
  .twitter::before {
    display: none !important;
  }
  .instagram::before {
    display: none !important;
  }
  .facebook::before {
    display: none !important;
  }
  .container:hover > .img-container > .img-scale {
    transform: scale(110%);
  }
  .container:hover {
    background-size: 100%;
  }
}
@media (max-width: 767px) {
  .nav-button-contact:hover:before {
    display: none !important;
  }
  .twitter::before {
    display: none !important;
  }
  .instagram::before {
    display: none !important;
  }
  .facebook::before {
    display: none !important;
  }
  .container:hover > .img-container > .img-scale {
    transform: scale(110%);
  }
  .container:hover {
    background-size: 100%;
  }
  .discont {
    width: 99%;
  }
  .inf-modal {
    padding-left: 0;
  }
  .modal-window {
    width: 21.375rem;
  }
  .img-modal {
    display: none;
  }
  .contact-us {
    width: 316px;
  }
  .icon-contact {
    margin-bottom: 2.5rem;
  }
  .main-footer {
    padding: 3.75rem 1rem 3.75rem 1rem;
  }
  .contact-title {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }
  .footer {
    margin-bottom: 0;
    padding: 0 1rem 2.5rem 1rem;
  }
  .slide-section {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .all-button {
    gap: 0.5rem;
  }
  .section1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .header-main {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  h1 {
    width: 99%;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }
  .menu-button {
    display: none;
  }
  .nav-container {
    display: none;
  }
  h1 {
    padding-left: 1px;
  }
}

@media (max-width: 768px) {
  .menu-burger {
    display: flex;
  }

  .menu-button {
    display: none;
  }
  .nav-container {
    display: none;
  }
}

@media (max-width: 500px) {
  .slide-menu-burger {
    padding: 3.75rem 1rem 3.75rem 1rem;
  }
}
.nav-burger {
  padding: 0 1rem 3.75rem 1rem;
}

@media (max-width: 1060px) {
  .main-footer {
    padding-bottom: 5rem;
  }
  .slide-section {
    height: 65.75rem;
  }

  .refresh {
    display: flex;
  }
  .section-coffee {
    overflow: hidden;
  }
  .section-dessert {
    overflow: hidden;
  }
}
@media (max-width: 678px) {
  .nav-contact {
    gap: 1.3rem;
  }
  .main-footer {
    padding-bottom: 2.3rem;
  }
  .contact-title {
    margin-bottom: 2.7rem;
  }
  .refresh {
    margin-bottom: 5.5rem;
  }
  .icon-contact {
    margin-bottom: 2.2rem;
  }
  .contact-us {
    padding-top: 0;
  }
  .section-coffee {
    gap: 2.3rem;
    max-height: 135rem;
  }
  .section-dessert {
    gap: 3rem;
    max-height: 135rem;
  }
  .slide-section {
    height: 135rem;
  }
}
