@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: Inter;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body);
}

/* ROOT */
:root {
  /* backround */
  --body: #e1d4c9;
  --container: #665f55;
  --backdrop: rgba(64, 63, 61, 0.8);

  /* Border */
  --Light-border: #c1b6ad;
  --Dark-border: #665f55;
  /* size */
  /* --back-size: 1920px; */
  --full-size: 1440px;
  /* Text */
  --text-dark: #403f3d;
  --text-Light: #e1d4c9;
  --text-Accent: #b0907a;
}

/* Header */
.header {
  display: flex;
  margin: auto;
  max-width: var(--full-size);
}
.header-main {
  justify-content: space-between;
  display: flex;
  margin: 1.25rem 2.5rem 1.25rem 2.5rem;
  width: 100%;
}
.nav-container {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: center;
  max-width: 74.25rem;
  margin: auto;
  list-style-type: none;
  display: flex;
  gap: 2.5rem;
}
.nav-button {
  position: relative;
  transition: 0.5s;
  margin: auto;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  color: var(--text-dark);
  text-decoration: none;
}
.nav-button:before {
  opacity: 1;
  position: absolute;
  bottom: -4px;
  content: " ";
  border-bottom: 2px solid var(--text-dark);
  left: 50%;
  width: 0%;
  transition: all 0.8s;
}

.nav-button:hover:before {
  opacity: 1;
  width: 100%;
  left: 0%;
}

.menu-button {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  color: var(--text-dark, #403f3d);
}
.nav-button-menu {
  position: relative;
  transition: 0.5s;
  margin: auto;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  color: var(--text-dark);
  text-decoration: none;
}
.nav-button-menu:before {
  opacity: 1;
  position: absolute;
  bottom: -4px;
  content: " ";
  border-bottom: 2px solid var(--text-dark);
  left: 0%;
  width: 100%;
  transition: all 0.8s;
}

.nav-button-menu:hover:before {
  opacity: 1;
  width: 100%;
  left: 0%;
}

/* Main */
main {
  margin: auto;
  max-width: var(--full-size);
}

.footer {
  max-width: var(--full-size);
  margin: auto;
  margin-bottom: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.main-footer {
  justify-content: space-between;
  display: flex;
  margin: auto;
  width: 100%;
  background-color: var(--container);
  border-radius: 2.5rem;
  padding: 6.25rem;
  width: 100%;
}
.icon-contact {
  max-width: 33.125rem;
}
.contact-title {
  color: var(--text-Light);
  margin: 0;
  text-align: left;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
  margin-bottom: 2.5rem;
}
.contact-button {
  gap: 0.75rem;
  display: flex;
}
.all-contact-button {
  border-radius: 6.25rem;
  border: 1px solid var(--Light-border);
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.twitter {
  position: relative;
  margin: auto 0 auto 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../coffee-house/icon/twitter.svg);
  background-color: var(--container);
}
.twitter:hover {
  background-color: var(--container);
}

.twitter::before {
  fill: green;
  border-radius: 6.25rem;
  background-color: var(--body);
  background-image: url(../coffee-house/icon/twitter-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.twitter:hover::before {
  opacity: 1;
}
.instagram {
  position: relative;
  margin: auto 0 auto 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../coffee-house/icon/instagram.svg);
  background-color: var(--container);
}
.instagram:hover {
  background-color: var(--container);
}

.instagram::before {
  fill: green;
  border-radius: 6.25rem;
  background-color: var(--body);
  background-image: url(../coffee-house/icon/instagram-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.instagram:hover::before {
  opacity: 1;
}
.facebook {
  position: relative;
  margin: auto 0 auto 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../coffee-house/icon/facebook.svg);
  background-color: var(--container);
}
.facebook:hover {
  background-color: var(--container);
}

.facebook::before {
  border-radius: 6.25rem;
  background-color: var(--body);
  background-image: url(../coffee-house/icon/facebook-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.facebook:hover::before {
  opacity: 1;
}

.contact-us {
  text-align: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  width: 33.125rem;
}
.contact-title2 {
  color: var(--text-Light);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  margin-bottom: 2.5rem;
  text-align: left;
}

.nav-contact {
  width: 16.375rem;
  display: grid;
  list-style-type: none;
  gap: 1rem;
}
.nav-contact-menu {
  margin-bottom: 0.25rem;
}
.nav-button-contact {
  position: relative;
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}
.time {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: var(--text-Light);
  position: relative;
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}
.adress,
.number {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: var(--text-Light);
  width: 70%;
}

.nav-button-contact:before {
  opacity: 0;
  position: absolute;
  bottom: -8px;
  content: " ";
  border-bottom: 2px solid var(--text-Light);
  left: 50%;
  width: 0%;
  transition: all 0.9s;
}

.nav-button-contact:hover:before {
  opacity: 1;
  width: 100%;
  left: 0%;
}

/* section1 */
.section1 {
  display: block;
  margin: 0 2.5rem 0 2.5rem;
  max-width: var(--full-size);
}
h1 {
  text-align: center;
  margin: auto;
  margin-bottom: 2.5rem;
  color: var(--text-dark);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
  max-width: 50rem;
}
.all-butt {
  display: block;
  margin: auto;
  width: 100%;
}

.all-button {
  margin: auto;
  margin-bottom: 2.5rem;
  gap: 1rem;
  display: flex;
  width: 22.563rem;
}
.button-menu {
  transition: 0.5s;
  color: var(--text-dark);
  position: relative;
  height: 2.875rem;
  border: 1px solid var(--Light-border);
  background-color: var(--body);
  border-radius: 6.25rem;
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.icon-button {
  transition: 0.5s;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: var(--Light-border);
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
}

.parag-button {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.upper-button1,
.upper-button2,
.upper-button3 {
  z-index: 5;
  position: absolute;
  height: 2.875rem;
  background-color: rgba(255, 0, 0, 0);
  border-radius: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 110%;
}
.icon-background {
  background-color: var(--body);
}
.button-background {
  color: var(--text-Light);
  background-color: var(--container);
}

/* Visual blok */
.italic {
  color: var(--text-Accent);
  font-style: italic;
}
.visual {
  opacity: 1;
}
.visualzero {
  opacity: 0;
}
.hidden {
  display: none;
}
