@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

* {
  font-family: Inter;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: var(--body);
}
body.lock {
  height: 100vh;
  overflow: hidden;
}

/* ROOT */
:root {
  /* backround */
  --body: #e1d4c9;
  --container: #665f55;
  --backdrop: rgba(64, 63, 61, 0.8);

  /* Border */
  --Light-border: #c1b6ad;
  --Dark-border: #665f55;
  /* size */
  /* --back-size: 1920px; */
  --full-size: 1440px;
  /* Text */
  --text-dark: #403f3d;
  --text-Light: #e1d4c9;
  --text-Accent: #b0907a;
}

/* Header */
.header {
  display: flex;
  margin: auto;
  max-width: var(--full-size);
}
.header-main {
  justify-content: space-between;
  display: flex;
  margin: 1.25rem 2.5rem 1.25rem 2.5rem;
  width: 100%;
}
.nav-container {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
}

.nav {
  justify-content: center;
  max-width: 74.25rem;
  margin: auto;
  list-style-type: none;
  display: flex;
  gap: 2.5rem;
}
.nav-button {
  position: relative;
  transition: 0.5s;
  margin: auto;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  color: var(--text-dark);
  text-decoration: none;
}
.nav-button:before {
  opacity: 0;
  position: absolute;
  bottom: -4px;
  content: " ";
  border-bottom: 2px solid var(--text-dark);
  left: 50%;
  width: 0%;
  transition: all 0.8s;
}

.nav-button:hover:before {
  opacity: 1;
  width: 100%;
  left: 0%;
}

.menu-button {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  color: var(--text-dark, #403f3d);
}

/* Burger menu */
.menu-burger {
  cursor: pointer;
  margin: 5px 0px 0px 40px;
  display: none;
  width: 44px;
  height: 44px;
  position: relative;
  z-index: 100;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--text-dark);
}

.menu-burger span {
  width: 16px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--text-dark);
  transition: all 0.5s;
}

.menu-burger span:nth-of-type(1) {
  top: calc(65% - 10px);
}
.menu-burger span:nth-of-type(2) {
  top: calc(35% + 10px);
}

/* Меняем гамбургер иконку, когда меню открыто */

.menu-burger.active span:nth-of-type(1) {
  top: 60%;
  transform: translate(-50%, -6px) rotate(45deg);
}
.menu-burger.active span:nth-of-type(2) {
  top: 60%;
  transform: translate(-50%, -6px) rotate(-45deg);
}

/* Меню, которое будет появляться */
.slide-menu-burger {
  z-index: 100;
  overflow: auto;
  display: flex;
  position: fixed;
  top: 90px;
  right: 0;
  width: 100vw;
  max-height: 100%;
  padding: 3.75rem 2.5rem 3.75rem 2.5rem;
  background: var(--body);
  transform: translateX(130%);
  transition: transform 0.5s;
}

.slide-menu-burger.active {
  transform: translateX(0);
}

.slide-menu-burger li {
  list-style-type: none;
}
.nav-burger {
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 3.75rem;
  height: 100vh;
  width: 100%;
  padding: 0 2.5rem 3.75rem 2.5rem;
}
.top-padding-10-burger {
  padding-top: 10px;
}
.burger-contact {
  margin-bottom: 2.5rem;
}
.navigation-burger {
  height: 100%;
  display: block;
  width: 100%;
}

.nav-button-burger {
  display: flex;
  align-items: center;
  color: var(--text-dark);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 40px */
  transition: 0.5s;
}
.cup-burger {
  margin-left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

/* Main */
main {
  margin: auto;
  max-width: var(--full-size);
}

/* section-1 */
.section1 {
  margin: 0 2.5rem 6.25rem 2.5rem;
}
.main-section1 {
  border-radius: 2.5rem;
  width: 100%;
  background: center;
  background-size: cover;
  background-position-y: 1%;
  background-repeat: no-repeat;
  background-image: url(../coffee-house/img/main-img.jpeg);
}
.section1-info {
  height: 100%;
  max-height: 40.25rem;
  width: 100%;
  padding: 6.25rem;
}
.section1-title {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  width: 33.125rem;
}
.enjoy {
  font-family: Inter;
  font-size: 72px;
  font-style: italic;
  font-weight: 600;
  line-height: 105%; /* 75.6px */
  text-decoration: none;
  color: var(--text-Accent);
}
h1 {
  color: var(--text-Light);
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%; /* 75.6px */
}
.section1-paragraf {
  color: var(--text-Light);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.section1-button {
  cursor: pointer;
  position: relative;
  transition: 1s;
  display: flex;
  width: 12.5rem;
  height: 4rem;
  /* padding: 1.25rem 4.875rem; */
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  background: var(--body);
}
.coffe-sec1 {
  transition: opacity 0.3s;
  top: 34%;
  left: 55%;
  position: absolute;
  display: flex;
  opacity: 0;
}
.up-button {
  cursor: pointer;
  position: relative;
  transition: 1s;
  display: flex;
  width: 12.5rem;
  height: 4rem;
  /* padding: 1.25rem 4.875rem; */
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  background: #403f3d00;
}
.up-button:hover > .section1-button > .menu-span {
  margin-right: 2rem;
}
.up-button:hover > .section1-button > .coffe-sec1 {
  opacity: 1;
}
.upsteirs-but {
  z-index: 5;
  position: absolute;
  transition: 1s;
  display: flex;
  width: 100%;
  height: 100%;
  height: 4rem;
  /* padding: 1.25rem 4.875rem; */
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  background: #403f3d00;
}
.menu-span {
  color: var(--text-dark);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  transition: 0.5s;
  display: flex;
  margin-right: 0rem;
  height: 4rem;
  /* padding: 1.25rem 4.875rem; */
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  background: var(--body);
  gap: 1rem;
  display: flex;
}

/* h2 */
h2 {
  text-align: center;
  margin: 0 2.5rem 2.5rem 2.5rem;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}
.italic {
  color: var(--text-Accent);
  font-style: italic;
}

/* Section-2 */
.section2 {
  margin: 0 2.5rem 6.25rem 2.5rem;
}
.main-section2 {
  transition: 1s;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  display: flex;
  gap: 2.5rem;
  width: 100%;
  margin-bottom: 2.5rem;
}
.left-arrow,
.right-arrow {
  z-index: 5;
  position: relative;
  display: flex;
  min-width: 3.75rem;
  height: 3.75rem;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--Dark-border);
  border-radius: 6.25rem;
}
.left-arrow {
  margin: auto 0 auto 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../coffee-house/icon/arrow-left.svg);
}
.right-arrow {
  margin: auto 0 auto 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../coffee-house/icon/arrow-right.svg);
}
.left-arrow:hover {
  background-color: var(--container);
}
.right-arrow:hover {
  background-color: var(--container);
}
.left-arrow::before {
  border-radius: 6.25rem;
  background-color: var(--container);
  background-image: url(../coffee-house/icon/arrow-right-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  transform: rotate(180deg);
}
.left-arrow:hover::before {
  opacity: 1;
}
.right-arrow::before {
  border-radius: 6.25rem;
  /* background-color: var(--container); */
  background-image: url(../coffee-house/icon/arrow-right-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  transform: rotate(0deg);
}
.right-arrow:hover::before {
  opacity: 1;
}
/* slider */
.slide {
  display: block;
  left: 0px;
  transition: 1s;
  position: relative;
  /* margin-left: 29%;
  margin-right: 29%; */
}

.main-slider {
  left: 0px;
  transition: 1s;
  position: relative;
  display: flex;
  width: 72rem;
}
.up-main-slider {
  overflow: hidden;
}
.img-slide-size {
  text-align: center;
  width: calc(100vw - 280px);
  max-width: 1152px;
  max-height: 30rem;
  margin: auto;
  margin-bottom: 1.25rem;
}
.img-slide {
  margin: auto;
  max-width: 30rem;
  max-height: 30rem;
}
.title-slide {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  text-align: center;

  color: var(--text-dark);
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}
.paragraf-slide {
  color: var(--text-dark);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  max-width: 30rem;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
}
.price-slide {
  color: var(--text-dark);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  text-align: center;
  margin: auto;
}
/* pagination */
.pagination {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}
.pagin {
  cursor: pointer;
  background-color: var(--Light-border);
  border-radius: 6.25rem;
  height: 0.25rem;
  width: 2.5rem;
}
.color-pag {
  background-color: var(--Dark-border);
}

/* section3 */
.section3 {
  max-width: var(--full-size);
  margin: 0 2.5rem 6.25rem 2.5rem;
}
.resource-title {
  margin-bottom: 2.5rem;
  color: var(--text-dark);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}
.all-photo {
  display: flex;
  gap: 2.5rem;
  width: 100%;
}
.left-photo,
.right-photo {
  display: grid;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.big-img {
  border-radius: 1.25rem;
  display: block;
  max-height: 36.875rem;
  width: 41.25rem;
  /* width: clamp(10rem, 30vw, 41.25rem); */
}
.small-img {
  border-radius: 1.25rem;
  display: block;
  max-height: 26.875rem;
  width: 41.25rem;
}
.photo-download {
  display: flex;
  align-items: end;
  width: 50%;
}
.all-img {
  transition: 0.5s;
  transform: scale(110%);
  border-radius: 1.25rem;
  height: 100%;
  width: 100%;
}
.all-img:hover {
  transform: scale(100%);
}
.img-contain {
  overflow: hidden;
  border-radius: 1.25rem;
  height: 100%;
  width: 100%;
}

/* section4 */
.section4 {
  max-width: var(--full-size);
  margin: 0 2.5rem 6.25rem 2.5rem;
}
.main-section4 {
  gap: 100px;
  display: flex;
  width: 100%;
}
.download {
  max-width: 39.375rem;
  height: 100%;
  margin: auto 0 auto 0;
}
.download-title {
  color: var(--text-dark);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 2.5rem;
  width: 38.375rem;
  margin-left: 0;
}
.paragraf-download {
  margin-bottom: 2.5rem;
  color: var(--text-dark);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.download-buttons {
  gap: 1.25rem;
  display: flex;
}

.download-app,
.download-google {
  width: 12.5rem;
  cursor: pointer;
  transition: 1s;
  border-radius: 6.25rem;
  border: 1px solid var(--Dark-border);
  gap: 0.5rem;
  display: flex;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  color: var(--text-dark, #403f3d);
  display: flex;
  max-width: 200px;
  padding: 12px 20px;
  align-items: center;
}
.download-app:hover {
  background-color: var(--container);
  color: var(--text-Light);
}
.download-google:hover {
  background-color: var(--container);
  color: var(--text-Light);
}
.first-parag {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 14px */
}
.second-parag {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.icon-down {
  transition: 0.5s;
}
.google {
  transition: 1s;
  width: 2.25rem;
  height: 2.25rem;
  background-image: url(../coffee-house/icon/google.svg);
}
.apple {
  transition: 1s;
  width: 2.25rem;
  height: 2.25rem;
  background-image: url(../coffee-house/icon/apple.svg);
}
.google-white {
  background-image: url(../coffee-house/icon/google-white.svg);
}
.apple-white {
  background-image: url(../coffee-house/icon/apple-white.svg);
}
.photo-download-phone {
  width: 100%;
}

/* Footer */

.footer {
  max-width: var(--full-size);
  margin: auto;
  margin-bottom: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.main-footer {
  justify-content: space-between;
  display: flex;
  margin: auto;
  width: 100%;
  background-color: var(--container);
  border-radius: 2.5rem;
  padding: 6.25rem;
  width: 100%;
}
.icon-contact {
  max-width: 33.125rem;
}
.contact-title {
  color: var(--text-Light);
  margin: 0;
  text-align: left;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
  margin-bottom: 2.5rem;
}
.contact-button {
  gap: 0.75rem;
  display: flex;
}
.all-contact-button {
  border-radius: 6.25rem;
  border: 1px solid var(--Light-border);
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.twitter {
  position: relative;
  margin: auto 0 auto 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../coffee-house/icon/twitter.svg);
  background-color: var(--container);
}
.twitter:hover {
  background-color: var(--container);
}

.twitter::before {
  fill: green;
  border-radius: 6.25rem;
  background-color: var(--body);
  background-image: url(../coffee-house/icon/twitter-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.twitter:hover::before {
  opacity: 1;
}
.instagram {
  position: relative;
  margin: auto 0 auto 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../coffee-house/icon/instagram.svg);
  background-color: var(--container);
}
.instagram:hover {
  background-color: var(--container);
}

.instagram::before {
  fill: green;
  border-radius: 6.25rem;
  background-color: var(--body);
  background-image: url(../coffee-house/icon/instagram-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.instagram:hover::before {
  opacity: 1;
}
.facebook {
  position: relative;
  margin: auto 0 auto 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../coffee-house/icon/facebook.svg);
  background-color: var(--container);
}
.facebook:hover {
  background-color: var(--container);
}

.facebook::before {
  border-radius: 6.25rem;
  background-color: var(--body);
  background-image: url(../coffee-house/icon/facebook-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.facebook:hover::before {
  opacity: 1;
}

.contact-us {
  text-align: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  width: 33.125rem;
}
.contact-title2 {
  color: var(--text-Light);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  margin-bottom: 2.5rem;
  text-align: left;
}

.nav-contact {
  width: 16.375rem;
  display: grid;
  list-style-type: none;
  gap: 1rem;
}
.nav-contact-menu {
  margin-bottom: 0.25rem;
}
.nav-button-contact {
  position: relative;
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}
.time {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: var(--text-Light);
  position: relative;
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}
.adress,
.number {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: var(--text-Light);
  width: 70%;
}

.nav-button-contact:before {
  opacity: 0;
  position: absolute;
  bottom: -8px;
  content: " ";
  border-bottom: 2px solid var(--text-Light);
  left: 50%;
  width: 0%;
  transition: all 0.9s;
}

.nav-button-contact:hover:before {
  opacity: 1;
  width: 100%;
  left: 0%;
}
/* Visual blok */
.visual {
  opacity: 1;
}
.visualzero {
  opacity: 0;
}
.hidden {
  display: none;
}

/* MEDIA */
@media (max-width: 1439px) {
  /* .section3 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  } */
  .paragraf-download {
    width: 110%;
  }
  .section1-info {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .icon-contact {
    margin-bottom: 6.25rem;
  }
  .main-footer {
    padding-top: 110px;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    display: block;
  }
  .photo-download {
    width: 39.375rem;
    margin: auto;
  }

  #download {
    width: 102%;
  }
  .download {
    width: 100%;
    margin-bottom: 6.25rem;
  }
  .main-section4 {
    display: block;
  }
  .big-img {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .small-img {
    display: none;
    margin: auto;
  }
  .left-photo {
    margin-bottom: 2.5rem;
  }
  .all-photo {
    display: block;
  }
  .main-section1 {
    height: 40.25rem;
  }
}

@media (max-width: 800px) {
  .slide-menu-burger {
    display: flex;
  }
  .contact-us {
    padding-top: 0;
    padding-bottom: 0;
  }

  .photo-download {
    width: 90%;
    margin: auto;
  }
  .download-title {
    width: 40rem;
  }
}
@media (pointer: coarse) {
  .all-img {
    transform: scale(120%);
  }
  .right-arrow::before {
    display: none !important;
  }
  .left-arrow::before {
    display: none !important;
  }
  .left-arrow:hover {
    background-color: unset;
  }
  .right-arrow:hover {
    background-color: unset;
  }
  .nav-button:hover:before {
    width: 0%;
  }

  .nav-button-contact:hover:before {
    opacity: 0;
    width: 100%;
    left: 0%;
  }
  .menu-span {
    margin-right: 2.5rem;
  }
  .coffe-sec1 {
    opacity: 1;
  }
  .nav-button-contact:hover:before {
    display: none !important;
  }
  .twitter::before {
    display: none !important;
  }
  .instagram::before {
    display: none !important;
  }
  .facebook::before {
    display: none !important;
  }

  .download-app:hover {
    background-color: unset;
    color: unset;
  }
  .download-google:hover {
    background-color: unset;
    color: unset;
  }
  .up-button:hover > .section1-button > .menu-span {
    margin-right: 0;
  }
  .up-button:hover > .section1-button > .coffe-sec1 {
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .menu-burger {
    display: flex;
  }

  .menu-button {
    display: none;
  }
  .nav-container {
    display: none;
  }
}
@media (max-width: 767px) {
  .menu-burger {
    display: flex;
  }

  .menu-button {
    display: none;
  }
  .nav-container {
    display: none;
  }
  .nav-button-contact:hover:before {
    display: none !important;
  }
  .twitter::before {
    display: none !important;
  }
  .instagram::before {
    display: none !important;
  }
  .facebook::before {
    display: none !important;
  }

  .download-app:hover {
    background-color: unset;
    color: unset;
  }
  .download-google:hover {
    background-color: unset;
    color: unset;
  }
  .all-img:hover {
    transform: scale(120%);
  }
  .up-button:hover > .section1-button > .menu-span {
    margin-right: 2.5;
  }
  .up-button:hover > .section1-button > .coffe-sec1 {
    opacity: 1;
  }

  .nav-contact {
    gap: 1.5rem;
  }
  .photo-download {
    width: 100%;
  }
  .download {
    margin-bottom: 2.5rem;
  }
  .paragraf-download {
    width: 100%;
  }
  .contact-us {
    width: 316px;
  }
  .icon-contact {
    margin-bottom: 2.5rem;
  }
  .img-slide-size {
    width: 100vw;
  }
  .left-arrow {
    display: none;
  }
  .right-arrow {
    display: none;
  }
  .main-section1 {
    height: 34.5rem;
    background-position-x: 53%;
  }
  .section1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .section2 {
    margin-bottom: 6.1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .section4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .section3 {
    margin-bottom: 6.5rem;
    word-wrap: break-word;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .section1-info {
    width: 21.75rem;
    padding: 3.75rem 1rem 3.75rem 1rem;
  }
  .section1-title {
    width: 19.75rem;
  }
  h1 {
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%;
  }
  h2 {
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }
  .resource-title {
    width: 99%;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }
  .italic {
    word-wrap: break-word;
  }
  .big-img {
    width: 100%;
  }
  .left-photo {
    height: 36.875rem;
  }
  .all-img {
    margin: auto;
    position: relative;
    left: -35%;
    min-width: 165%;
    transform: scale(120%);
  }
  .img-contain {
    margin: auto;
    width: 21.75rem;
  }
  .download-title {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }
  .download-buttons {
    display: block;
  }
  .download-app {
    margin-bottom: 1.25rem;
  }
  .main-footer {
    padding: 3.75rem 1rem 3.75rem 1rem;
  }
  .contact-title {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 40px */
  }
  .footer {
    margin-bottom: 0;
    padding: 0 1rem 2.5rem 1rem;
  }
  .header-main {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 500px) {
  .slide-menu-burger {
    padding: 3.75rem 1rem 3.75rem 1rem;
  }
  .nav-burger {
    padding: 0 1rem 3.75rem 1rem;
  }
  .section2 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .img-slide {
    width: 25.75rem;
  }
  .slide {
    width: 500px;
  }
  .img-slide-size {
    width: 95vw;
  }
  .left-arrow {
    display: none;
  }
  .right-arrow {
    display: none;
  }
}
@media (max-width: 400px) {
  .section2 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .img-slide {
    width: 21.75rem;
  }
  .slide {
    width: 348px;
  }
  .img-slide-size {
    width: 87vw;
  }
  .left-arrow {
    display: none;
  }
  .right-arrow {
    display: none;
  }
}
